<!DOCTYPE html>
<html>
<head>
  <title>TFL Cameras</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE']}&sensor=false" %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>

  <div class="main_wrapper">
    <h1>The Eyes of London</h1>
    <%= yield %>

  </div>

</body>
</html>
